
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Themelock.com - Free Themes & Templates</title>
    <meta name="description" content="Default Description" />
    <meta name="keywords" content="Magento, Varien, E-commerce" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <link rel="icon" href="#" type="image/x-icon" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />

    <!-- CSS =====================================================================================-->
    <link href='http://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/skin.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/cloud-zoom.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/light_box.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/mix.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/banner.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/css/magicat.css" media="all" />

    <!-- Scripts =====================================================================================-->
    <script type="text/javascript" src="/js/prototype.js"></script>
    <script type="text/javascript" src="/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/menu.js"></script>
    <script type="text/javascript" src="/js/banner_pack.js"></script>
    <script type="text/javascript" src="/js/light_box.js"></script>
    <script type="text/javascript" src="/js/cloud-zoom.1.0.2.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mix.js"></script>
</head>